@model IEnumerable<TodoMVC.Web.Models.TodoList>

@{
    ViewBag.Title = "List";
}

<h2>Todo......</h2>
<div class="float-right">
    @Html.ActionLink("All", "List", null, new { @class = "btn btn-info" }) | @Html.ActionLink("Active", "ActiveTodoList", null, new { @class = "btn btn-info" }) | @Html.ActionLink("Completed", "CompletedList", null, new { @class = "btn btn-info" })
</div>
<br />
<br />
<form action="@Url.Action("Create","Todo")" method="post" id="FormTodoList">
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TodoWhat)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>Check </td>
            <td><input type="text" class="form-control" name="InputTodoWhat" id="InputTodoWhat" placeholder="Add one thing todo..." value=""><button type="submit" class="btn btn-primary" hidden="hidden">Add a Task</button></td>
            <td>Delete</td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Completed)
            {
                <tr class="strikeout">
                    <td>
                        @Html.ActionLink("V", "Complete", new { TodoId = item.TodoId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TodoWhat)
                    </td>
                    <td>
                        @Html.ActionLink("X", "Delete", new { TodoId = item.TodoId })
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.ActionLink("V", "Complete", new { TodoId = item.TodoId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TodoWhat)
                    </td>
                    <td>
                        @Html.ActionLink("X", "Delete", new { TodoId = item.TodoId })
                    </td>
                    <td></td>
                </tr>
            }
        }

    </table>
</form>

@section scripts{
    <link href="~/Content/table-strike.css" rel="stylesheet" />
    <script type="text/javascript">

    </script>

}
